.vscode
OpenControl/ADP_control/__pycache__
OpenControl/visualize/__pycache__
OpenControl/classiccontrol/__pycache__
OpenControl/__pycache__
docs/_build
*.ipynb
logs
__pycache__
test_case.py
testcasse_linearSystem.py
